<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gitHubTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D060BCCA1EF76C5800458AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D060BCE31EF76C5900458AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D060BCEE1EF76C5900458AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
